<div class="container" style="padding-top: 10px;">
	<div class="container-content">
		<!-- BUSQUEDA -->
		<div class="row">
			<div class="col-6">
				<form>
				  <div class="form-group form-inline">
				  	Busqueda: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
				  	<span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
				  </div>
				</form>
			</div>
			<div class="col-3"></div>
			<div class="col-3">
				<button type="button" class="btn btn-success" style="align-items: right;">
					<fa-icon [icon]="faPlusCircle"></fa-icon> Agregar
				</button>
			</div>
		</div> <!-- FIN DEL ROW PARA LA BUSQUEDA-->
		<!-- FIN DE BUSQUEDA-->
		<!-- TABLA -->
		<div class="row">
			<table class="table table-striped">
		
			 <thead>
		  <tr>
			  <div class="row">
			    <div class="col-1">
					<th scope="col">#</th>
				</div>
				<div class="col-4">
					 <th scope="col" sortable="username" (sort)="onSort($event)">username</th>
				</div>
				<div class="col-1">
					 <th scope="col" sortable="rol" (sort)="onSort($event)">rol</th>
				</div>
				<div class="col-2">
					 <th scope="col" sortable="codTrabajador" (sort)="onSort($event)">cod</th>
				</div>
				<div class="col-2">
					<th scope="col"></th>
				</div>
				<div class="col-2">
					 <th scope="col"></th>
				</div>
			</div>
		  </tr>
		  </thead>
	
		
		  <tbody>
		  <tr *ngFor="let usuario of usuarios$ | async; index as i">
		  	<div class="row">
				<div class="col-1">
					 <th scope="row">{{i+1}}</th>
				</div>
				<div class="col-4">
					 <td>
				      <ngb-highlight [result]="usuario.username" [term]="service.searchTerm"></ngb-highlight>
				    </td>
				</div>
				<div class="col-1">
					<td>
						<ngb-highlight [result]="usuario.rol" [term]="service.searchTerm"></ngb-highlight>
					</td>
				</div>
				<div class="col-1">
					<td>
						<ngb-highlight [result]="usuario.codTrabajador | number" [term]="service.searchTerm"></ngb-highlight>
					</td>
				</div>
				<div class="col-2">
					<td>
						<button type="button" class="btn btn-warning">
						  <fa-icon [icon]="faEdit"></fa-icon></button>
					</td>	
				</div>
				<div class="col-2">
					<td>
						<button type="button" class="btn btn-danger">
							 <fa-icon [icon]="faTrashAlt"></fa-icon>
						 </button>
					</td>
				</div>
			</div>
		  </tr>
		  </tbody>
		</table>
		</div> <!-- FIN ROW DE LA TABLA-->
		<!--FIN TABLA -->
		<!--PAGINACION-->
		<div class="d-flex justify-content-between p-2">
		    <ngb-pagination
		      [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
		    </ngb-pagination>

		    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
		      <option [ngValue]="2">2 items per page</option>
		      <option [ngValue]="4">4 items per page</option>
		      <option [ngValue]="6">6 items per page</option>
		    </select>
		  </div>
		  <!-- FIN DE PAGINACION-->
	</div> <!-- FIN DEL CONTAINER-CONTENT-->
</div><!-- FIN DEL CONTAINER-->