<ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
     <!-- <h3>My slide {{i + 1}} title</h3> -->
    	<app-login></app-login>
    </div>
    <!--
    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
    -->
      <div class="picsum-img-wrapper">
        <img [src]="img" alt="My image {{i + 1}} description">
      </div>
      <!--
    </a>
-->
  </ng-template>
</ngb-carousel>



<!--
<div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-10 col-md-offset-1">
		<div class="card bg-light border-light mb-3">
			<div class="card-body">
					<ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
			  <ng-template ngbSlide *ngFor="let img of images; index as i">
			    <div class="carousel-caption">
			      <h3>My slide {{i + 1}} title</h3>
			    </div>
			    <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
			      <div class="picsum-img-wrapper img-fluid">
			        <img [src]="img" alt="My image {{i + 1}} description" class="img-fluid">
			      </div>
			    </a>
			  </ng-template>
			</ngb-carousel>
			</div>
		</div>
	</div>
</div>
-->

