  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand active" routerLink="/home">HOTEL SYSTEM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pais">Pais</a>
      </li>
    </ul>
      <button class="btn btn-secondary my-2 my-sm-0" (click)="abrir()">SignOut</button>
  </div>
</nav>

<router-outlet></router-outlet>
